[workspace]
members = [".", "crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2024"
authors = ["Eunchong Yu <kroisse@gmail.com>"]

[workspace.dependencies]
clap = { version = "4.5", features = ["derive"] }
fluent-uri = "0.1.4"
cranelift-codegen = "0.120"
cranelift-frontend = "0.120"
cranelift-module = "0.120"
cranelift-object = "0.120"
dashmap = "6.1"
derive_more = { version = "2.0", features = ["display", "error", "from"] }
insta = "1.43.1"
inventory = "0.3"
lsp-server = "0.7"
lsp-types = "0.97"
object = { version = "0.36", features = ["write_core"] }
paste = "1.0"
salsa = "0.25.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
smallvec = { version = "1.13", features = ["union", "const_generics", "serde"] }
target-lexicon = "0.13"
tempfile = "3.8"
tracing = "0.1"
tree-sitter = "0.25.6"
tree-sitter-tribute = { git = "https://github.com/Kroisse/tree-sitter-tribute.git", rev = "270d779ae413b623fa6baacdad90d61d28c7cf40" }
tribute-cranelift = { path = "crates/tribute-cranelift" }
tribute-core = { path = "crates/tribute-core" }
tribute-passes = { path = "crates/tribute-passes" }
tribute-trunk-ir = { path = "crates/tribute-trunk-ir" }

[package]
name = "tribute"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
clap.workspace = true
lsp-server.workspace = true
lsp-types.workspace = true
salsa.workspace = true
serde_json.workspace = true
tracing.workspace = true
tribute-core.workspace = true
tribute-passes.workspace = true
tribute-trunk-ir.workspace = true

[dev-dependencies]
insta.workspace = true
