[package]
name = "tribute-runtime"
version.workspace = true
edition.workspace = true
links = "tribute_runtime"

[lib]
crate-type = ["lib"]

[dependencies]
smallvec.workspace = true

[build-dependencies]
cc.workspace = true
