[package]
name = "salsa-test-macros"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[lib]
proc-macro = true

[dependencies]
unsynn = { workspace = true }
proc-macro2 = "1.0"
quote = "1.0"
